@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
}


/* Navbar Start */

#navbar {
    background-color: #3944F7;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.navbar-content>h2 {
    color: white;
}

.navbar-list {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.navbar-list li {
    list-style: none;
}

.navbar-list li a {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: all 0.5s ease-in-out;
}

.navbar-list li a:hover {
    background-color: white;
    color: #3944F7;
}


/* Navbar End */


/* About Start */

#about-us {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.profile-image-wrapper>img {
    width: 100%;
    height: 100%;
}

.personal-information {
    margin-left: 10px;
}

.personal-information>h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

.personal-information>p {
    text-align: justify;
    font-size: 20px;
    margin-bottom: 10px;
}

.personal-skills {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.personal-skills li {
    list-style: none;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}

.personal-skills li:hover {
    background-color: #3944F7;
    color: white;
}


/* About End */


/* Contact Start */

#contact-us {
    display: flex;
    padding: 20px;
}

.contact-information,
.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
}


/* Contact End */


/* Footer Start */

#footer {
    background-color: #3944F7;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-social-icons-list {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.footer-social-icons-list li {
    list-style: none;
}

.footer-social-icons-list li a {
    color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
}

.footer-social-icons-list li a:hover {
    background-color: white;
    color: #3944F7;
}

.footer-heading>h2 {
    color: white;
}

.bi-instagram:hover {
    color: purple;
}

.bi-youtube:hover {
    color: red;
}

.bi-github:hover {
    color: black;
}


/* Footer End */